<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
      @Styles.Render("~/Content/css")
      @RenderSection("css", required: false)
    @Scripts.Render("~/bundles/modernizr")


    
    <script src="~/Scripts/jquery-3.3.1.min .js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/vue.js"></script>
    <style>
    .selector-for-some-widget {
  box-sizing: content-box;
}
        .navbar,footer {
        background-color:#aae5d2;
        color:#00284D;
        
        position:relative;
        
        }
        
       
        a {
        color:#00284D;
        }
        .dropdown-menu {
        min-width:8rem;
        
        }
    </style>
    <script type="text/javascript">

     

    </script>
</head>
<body>
   
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Fitness Center</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

                @*<li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>*@
                @if ((bool)TempData["LoginState"] == true)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Search","Home")">教練列表</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="MemberCenter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            會員中心
                        </a>
                        <div class="dropdown-menu" aria-labelledby="MemberCenter">
                            @if ((int)TempData["State"] == 0)
                            {
                                <a class="dropdown-item" href="@Url.Action("UpdateMember", "Member")">修改會員資料</a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="@Url.Action("UpdateCoach", "Coach")">修改會員資料</a>
                            }
                            <a class="dropdown-item" href="@Url.Action("OrderList", "Reserve")">我的預約</a>
                            

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Logout","Home")">登出</a>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link">Hi,@TempData["UserName"] </p>
                    </li>
                   
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            註冊
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Register", "Member")">成為學員</a>
                            <a class="dropdown-item" href="@Url.Action("Register", "Coach")">教練登錄</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login","Home")">登入</a>
                    </li>
                }
                

            </ul>
        </div>
    </nav>
    
   @RenderBody()

    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 mt-md-0 mt-3" style="text-align:center;">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold">Fitness Center自由教練媒合平台</h5>
                    <p>Blog | 粉絲專頁 | 教練列表 | 服務條款 | 隱私權政策 | 常見問題</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">


            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2019 Copyright:
            <a href="https://github.com/shadow061103?tab=repositories">kuanfitness.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <script src="~/Scripts/popper.min.js"></script>
    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/jquery.multi-select.js"></script>

    
    @RenderSection("scripts", required: false)
</body>
</html>
