@model FitnessCenterModel.ViewModel.InterviewDetail

@{
    ViewBag.Title = "MemberInterViewDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css
{
    <style>
        .container {
            min-height: 800px;
        }
        img {
        max-width: 300px;
        
        }
    </style>
}
<div class="container">
    <form action="@Url.Action("MemberInterViewDetail","Reserve")" method="post">
        
        
        <div class="row">
            <div class="offset-sm-5 col-sm-6">
                <h2>面談</h2>
                <hr />
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-sm-1 col-sm-4">
                <label>教練</label>
            </div>
            <div class="col-sm-6">
                @{
                    string imagePath = Model.interview.CoachImage + ".jpg";


                }
                <img src="~/CoachImage/@imagePath" />
                <label>@Model.interview.CoachName</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-sm-1 col-sm-4">
                <label>預約狀態</label>
            </div>
            <div class="col-sm-6">
                
                    @if (Model.interview.Status == "教練拒絕")
                    {
                    <label>@Model.interview.Status</label>
                    }
                    else
                    {
                        <div class="progress">
                            @{ 
                                var status = Model.Status.Where(c => c.ID == Model.interview.StatusId).FirstOrDefault();
                                int index = Model.Status.IndexOf(status);
                                string progress = Convert.ToString((100 / 4) * (index+1));
                            }

                            <div class="progress-bar" role="progressbar" style="width: @progress%;" aria-valuenow="@progress" aria-valuemin="0" aria-valuemax="100">@Model.interview.Status</div>
                        </div>
                    }
                            
                       



            </div>
        </div>
        
        <div class="row form-group">
            <div class="offset-sm-1 col-sm-4">
                <label>Email</label>
            </div>
            <div class="col-sm-6">

                <label><a href="mailto:@Model.interview.CoachEmail">@Model.interview.CoachEmail</a></label>
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-sm-1 col-sm-4">
                <label>手機</label>
            </div>
            <div class="col-sm-6">

                <label>@Model.interview.CoachPhone</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-sm-1 col-sm-4">
                <label>Line Id</label>
            </div>
            <div class="col-sm-6">

                <label>@Model.interview.LineID</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-sm-1 col-sm-4">
                <label>預約日期</label>
            </div>
            <div class="col-sm-6">

                <label>@Model.interview.ReserveDate</label>
            </div>
        </div>
        
        <div class="row form-group">
            <div class="offset-sm-1 col-sm-4">
                <label>面談地點</label>
            </div>
            <div class="col-sm-6">

                <span>
                   @Model.interview.Location
                </span>
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-sm-4 col-sm-6">
                
                <button type="button" class="btn btn-outline-secondary btn-lg" onclick="Back()">回上頁</button>
            </div>

        </div>
    </form>


</div>
@section scripts{
    <script type="text/javascript">
        

        
        function Back()
        {
            window.location.href = "@Url.Action("OrderList","Reserve")";
        }
       
    </script>

}

