@model FitnessCenterModel.ViewModel.ReserveServiceModel

@{
    ViewBag.Title = "ReserveService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css
{
    <link href="~/Content/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <style>
        .container {
        min-height:700px
        }
    </style>
}
<div class="container">
    <form action="@Url.Action("ReserveService","Reserve")" method="post" id="form1">
        @Html.HiddenFor(c => c.Para.CoachId)
        @Html.HiddenFor(c => c.Para.MemberId)
        @Html.HiddenFor(c => c.Para.StatusId, new { Value = 1 })
        @Html.HiddenFor(c => c.Para.Charge, new { Value = 1200 })
        <div id="error" class="alert alert-danger alert-dismissible fade show" role="alert">

            <p id="errorMsg"></p>
            <button type="button" class="close" aria-label="Close" onclick="closeAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row">
            <div class="offset-sm-3 col-sm-6">
                <h2>預約服務</h2>
                <hr />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <label>自由教練</label>
            </div>
            <div class="col-sm-6">

                <label>@Model.CoachName</label>

            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <label>目前狀態</label>
            </div>
            <div class="col-sm-6">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">填單</div>
                </div>

            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <label>服務時間</label>
            </div>
            <div class="col-sm-6">
                @Html.TextBoxFor(c => c.Para.ServiceDate, new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <label>訓練項目</label>
            </div>
            <div class="col-sm-6">
                @Html.DropDownListFor(c => c.Para.TrainingProgramId, Model.TrainProgramList, new { @class= "form-control" })
                
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <label>課程形式</label>
            </div>
            <div class="col-sm-6">
                @Html.DropDownListFor(c => c.Para.CourseId, Model.CourseList, new { @class = "form-control" })
                
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <label>上課地點</label>
            </div>
            <div class="col-sm-6">
                @Html.TextBoxFor(c => c.Para.Location, new { @class = "form-control" })

            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <label>收費</label>
            </div>
            <div class="col-sm-6">
                <label>NT$ 1200</label>
            </div>
        </div>
        
        
        <div class="row form-group">
            <div class="offset-sm-3 col-sm-6">
                <button type="button" class="btn btn-outline-primary btn-lg btn-block" onclick="Reserve()">送出</button>
            </div>

        </div>
    </form>


</div>




@section scripts{
<script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
<script src="~/Scripts/jquery-ui-sliderAccess.js"></script>
    <script>
        $("#Para_ServiceDate").datetimepicker({
            dateFormat: 'yy/mm/dd',
            timeFormat: 'HH:mm:ss',
            changeMonth: true,
            changeYear: true,
            yearRange: "-0:+2"
        });
        function Reserve()
        {
            var formdata = new FormData($('#form1').get(0));
            $.ajax({
                type: "POST",
                url: "@Url.Action("ReserveService", "Reserve")",
                processData: false,
            contentType: false,
            data:formdata,
            success: function (data) {
                console.log(data.success);
                if (data.success)
                {

                    alert('預約成功');
                    window.location.href = "@Html.Raw(Url.Action("CoachDetail", "CoachSearch", new { MemberId = Model.Para.CoachId }))";
                }
                else
                {
                    //alert('註冊失敗' + data.ex);
                    $('#errorMsg').text(data.ex);
                    $('#error').show();
                }
            },
            error: function (ex) {
                
                alert(ex.Message);

            }

        });

        }
        function closeAlert() {
            $('#error').hide();
        }
        $(function () {
            $('#error').hide();
        });

    </script>



}




